.browsehappy {
    margin: .2em 0;
    background: #ccc;
    color: #000;
    padding: .2em 0
}

body, html {
    height: 102%;
    overflow: hidden
}

body {
    margin-top: 0;
    padding-bottom: 20px;
    font-size: 17px;
    overflow: scroll;
    font-family: Raleway, Helvetica, Arial, sans-serif
}

.header {
    background: url(../images/253e6384.background.jpg) center/cover no-repeat fixed;
    padding-top: 120px;
    height: 100%;
    width: 100%;
    color: #fff;
    text-align: center
}

h1, h2, h3, h4 {
    text-align: center;
    text-transform: uppercase
}

h4 {
    text-align: left
}

.header > h1 {
    margin-top: 30px;
    font-size: 55px;
    font-weight: 800;
    letter-spacing: 2px
}

.header > h2 {
    font-size: 20px;
    font-weight: 700
}

.section > h3 {
    font-size: 50px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #0d3349
}

.section > .row h3 {
    text-align: left
}

.profile-photo {
    background: url(../images/2c016661.profile_photo.jpg) center/cover no-repeat;
    width: 300px;
    height: 300px;
    border: 3px solid #fff;
    border-radius: 300px;
    margin: -150px auto 60px
}

.section {
    padding-top: 15px;
    padding-bottom: 30px
}

.subheader {
    font-style: italic
}

.about-me .about-me-text {
    line-height: 25px;
    margin-bottom: 30px
}

.hobbies {
    text-align: center
}

.hobby {
    margin: 10px;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    color: #b6b6b6;
    font-weight: 700;
    font-size: 15px;
    display: inline-block;
    background: #f5f5f5;
    text-align: center
}

.hobby:hover {
    background: #0d3349
}

.hobby i, .hobby span {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 30px;
    display: block
}

.contact {
    list-style: none;
    font-size: 20px;
    color: #000;
    margin-bottom: 20px
}

.contact li {
    margin-left: -20px
}

.contact a {
    color: #b6b6b6;
    text-decoration: none;
    font-weight: 200
}

.contact a:hover {
    color: #0d3349
}

.work-experience > .row {
    border-left: 1px solid #b6b6b6;
    margin-left: 15px;
    padding-left: 15px
}

.work-experience .timeline-dot {
    width: 20px;
    height: 20px;
    border: 1px solid #b6b6b6;
    background: #fff;
    float: left;
    margin-left: -41px;
    vertical-align: middle;
    border-radius: 20px
}

.work-experience .period-and-place {
    font-size: 16px;
    text-transform: none;
    margin-bottom: 30px
}

.dot::before {
    content: '\2022';
    color: #0d3349
}

.work-experience .keyword {
    display: inline-block;
    padding: 4px 7px;
    margin: 4px 2px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    white-space: nowrap
}

.work-experience .employment .row {
    margin-bottom: 20px
}

.work-experience .employment {
    margin-bottom: 50px
}

.work-experience h4 .subtle {
    text-transform: none;
    font-weight: 200;
    font-size: 15px;
    white-space: nowrap
}

.certifications h3 {
    color: #fff
}

.certifications {
    width: 100%;
    background: url(../images/83599097.background2.jpg) center/cover fixed #0d3349;
    padding-top: 30px;
    color: #fff;
    text-align: center;
    padding-bottom: 50px
}

.certifications .container {
    margin-top: 30px
}

.certifications .certificate {
    font-size: 60px;
    color: #0d3349;
    background: #fff;
    margin: 20px auto;
    width: 80px;
    height: 80px;
    border-radius: 100px
}

.certifications .square {
    background: rgba(255, 255, 255, .6);
    color: #0d3349;
    text-align: left;
    display: inline-block;
    clear: both;
    vertical-align: top;
    border: 1px solid #fff;
    border-collapse: separate;
    border-spacing: 1px;
    margin: 10px;
    padding: 5px;
    width: 200px;
    height: 200px;
    position: relative
}

.certifications .square .top {
    font-weight: 600
}

.certifications .square .bottom {
    position: absolute;
    font-weight: 500;
    bottom: 0;
    margin-bottom: 0
}

.skills h4 {
    text-align: center;
    margin-bottom: 20px
}

.skills .label {
    color: #000;
    font-size: 15px;
    text-align: left
}

.skills .progress-bar {
    background: #0d3349
}

.education .row .col-lg-6 {
    margin-bottom: 20px;
    min-height: 100px
}

.education .title {
    border-radius: 15px;
    display: inline-block;
    vertical-align: text-top;
    text-align: center;
    padding: 20px 5px 5px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    width: 70px;
    height: 70px;
    background: #0d3349;
    margin-left: 15px;
    margin-right: 15px
}

.education .school {
    display: table-cell;
    vertical-align: middle
}

.float-right {
    float: right
}

.float-left {
    float: left
}

.footer {
    padding: 60px 10%;
    width: 100%;
    background: #0d3349;
    text-align: left;
    color: #fff
}

.foooter img {
    vertical-align: middle
}

@media (max-width: 360px) {
    .header > h1 {
        font-size: 40px;
        letter-spacing: 1px
    }

    .header {
        padding-top: 30px
    }

    .header > img {
        width: 20%
    }
}

@media (max-width: 414px) {
    .header > h1 {
        font-size: 36px;
        letter-spacing: 1px
    }

    .header {
        padding-top: 30px
    }
}

@media (max-width: 550px) {
    .section > h3 {
        font-size: 35px
    }

    .education .title {
        display: none
    }

    .education .float-left, .education .float-right {
        float: none;
        clear: both
    }

    .education, .education h4, .education p {
        text-align: left !important
    }
}

@media (max-height: 650px) {
    .header img {
        display: none
    }

    .header {
        padding-top: 50px;
        min-height: 450px
    }
}

@media screen and (min-width: 768px) {
    .header > h1 {
        font-size: 80px
    }

    .header > h2 {
        font-size: 30px
    }

    .header > h3, .hobbies {
        text-align: left
    }

    .hobby {
        width: 150px;
        height: 150px;
        font-size: 25px;
        font-weight: 400
    }

    .hobby i, .hobby span {
        margin-top: 35px
    }
}